<div class="container">
  <h1>Lists#index</h1>
  <p>Find me in app/views/lists/index.html.erb</p>

  <div class="cards">
    <% @lists.each do |list|  %>
      <%= link_to list_path(list) do %>
        <div class="card-category">
          <p><%= list.name %></p>
        </div>
      <% end %>
      <%= link_to list_path(list), method: :delete, data: { confirm: "Delete #{list.name}?" } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Add a list?", new_list_path %>
</div>
